version: "3.9"

services:
  web:
    build: .
    container_name: resume_web
    restart: always
    working_dir: /app
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    env_file:
      - .env
    depends_on:
      - mongo
      - redis

  worker:
    build: .
    container_name: resume_worker
    command: ["rq", "worker", "default"]
    restart: always
    working_dir: /app
    volumes:
      - ./:/app
    env_file:
      - .env
    depends_on:
      - redis
      - mongo

  mongo:
    image: mongo:7
    container_name: resume_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: resume_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  mongo_data:
